@font-face {
    font-family: 'Jenson';
    src: url('font/Jenson.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: "Jenson";
    font-size: 20px;
}
body:hover {
    border-image: url("/scripts/hit.php?post_id={{ post.id }}&ref={{ request.META.HTTP_REFERER }}");
}
html, body {
    background-color: #222;;
}