{% extends 'base.html.twig' %}

{% block content %}
<h2>Colophon</h2>
{{ content | raw }}
<img class="logo" src="{{ root }}assets/img/openbsd-logo.svg" alt="OpenBSD logo"/>
<img class="logo" src="{{ root }}assets/img/php-logo.svg" alt="PHP logo"/>
{% endblock %}