<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>www.benjaminhanna.net</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ root }}assets/css/skeleton.css">
  <link rel="stylesheet" href="{{ root }}assets/css/stylesheet.css">
</head>
<body>
<header class="header">
  <div class="container">
    <div class ="row">
      <div class="twelve columns">    
        {% if depth > 0 %}
          <a href="{{ root }}index.html"><h3>Benjamin Hanna</h3></a>
        {% endif %}
        <hr>
      </div>
    </div>
  </div>
</header>