{% extends 'base.html.twig' %}

{% block content %}
<h3>Posts</h3>
<p>Coming soon.</p>
<ul>
    {% for slug in slugs %}
    <li>
        <a href="posts/{{ slug | url_encode }}.html">{{ slug }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}