body {
    font-size: 20px;
    color: #ababab;
}
body:hover {
    border-image: url("/scripts/hit.php?post_id={{ post.id }}&ref={{ request.META.HTTP_REFERER }}");
}
html, body {
    background-color: #222;
}
pre code {
    background-color: #222;
    overflow-x: auto;
    border: none;
}
footer .twelve.columns {
    text-align: center;
}